html {
  font-size: 62.5%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
}

.container {
  display: flex;
  max-width: 100%;
  width: 1020px;
  margin: 0 auto;
  border: 1px solid #969696;
}
